build/
xcuserdata/
project.xcworkspace/
DerivedData/
/ClientLibrary/clientLibrary_d.a
/ClientLibrary/Debug-*/
/ClientLibrary/Release-*/
/Externals/GPUImage/Debug-*/
/Externals/GPUImage/Release-*/
build.scripts/kakaostory-iphone/
build.scripts/ReleaseFiles/*.ipa
build.scripts/ReleaseFiles/*.plist
.xctool-args
.idea
*.pyc
*.log
*.dSYM
*.dSYM.zip
*.bcsymbolmap
Pods/